<div class="card text-white bg-primary">
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-sm table-borderless small table my-2 text-white">
                <tbody>
                    <tr>
                        <th>Code</th>
                        <td>{{ activity.ActivityCode}} </td>
                    </tr>
                    <tr>
                        <th>Activity</th>
                        <td>{{ activity.Activity}} </td>
                    </tr>
                    <tr>
                        <th>Bill Description</th>
                        <td>{{ activity.bill_description}} </td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
    <div class="row">
            <a class="text-white small" href="#" style="font-style: italic;">&nbsp; Full Details</a>
    </div>        
</div>