{% extends 'base/managementmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}

{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">
    {% include 'base/manageappsnavbar.html' %}
    {% include 'base/clientinfoheader.html' %}
    <table class="table-hover table-bordered table-sm small table mt-2">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="table-primary text-center">
            <tr>
                <th style="width:10%;">Bill Date</th>
                <th style="width:10%;">Bill Number</th>
                <th style="width:70%;">Matter</th>
                <th style="width:10%;">Bill Amount</th>
            </tr>
        </thead>
        {% for billdetail in bills %}
        <tr>
            <td style="font-weight: bold;">{{ billdetail.bill_date | date:'m/d/Y' }}</a></td>
            <td style="font-weight: bold; text-align: center;">{{ billdetail.bill_number }}</td>
            <td style="font-weight: bold; text-align: center;">{{ billdetail.matter.matter_title }}</td>
            <td style="font-weight: bold; text-align: center;">{{ billdetail.bill_amount }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}