{% extends 'base/managementmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">

    {% include 'base/manageappsnavbar.html' %}

    {% include 'base/caseinfoheader.html' %}
    <div class="row my-1">
        <div class="col-lg-12">
            <div class="card-header text-center text-white bg-primary">
                Due Dates
            </div>
            <div>
                <table class="table-hover table-bordered table-sm small table">
                    <!-- <table class=" table-hover table-sm table-bordered small table table-dark table-striped"> -->
                    <thead class="text-center text-white" style="background-color:green;">
                        <tr>
                            <th style="width:10%;">Due Date</th>
                            <th style="width:80%;">Particulars</th>
                            <th style="width:10%;">Date Complied</th>
                        </tr>
                    </thead>
                    {% for duedate in duedatelist %}
                    <tr>
                        <td style="font-weight: bold;">{{ duedate.duedate | date:'m/d/Y' }}</td>
                        <td style="font-weight: bold;">{{ duedate.particulars }}</td>
                        <td style="font-weight: bold;">{{ duedate.date_complied | date:'m/d/Y' }}</td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color:white; font-weight:bold">
                        <td>Total Count:{{duedate_count}}</td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-header text-center text-white bg-primary">
                Activity Details
            </div>
            <div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green;">
                        <tr>
                            <th style="width:10%;">Date</th>
                            <th style="width:10%;">Tran Type</th>
                            <th style="width:10%;">Lawyer</th>
                            <th style="width:50%;">Task</th>
                            <th style="width:10%;">Spent In Hrs</th>
                            <th style="width:10%;">Spent In Min</th>
                        </tr>
                    </thead>
                    {% for task in task %}
                    <tr>
                        <td style="font-weight: bold;">{{ task.tran_date | date:'m/d/Y' }} </td>
                        <td style="font-weight: bold;">{{ task.tran_type }}</td>
                        <td style="font-weight: bold;">{{ task.lawyer }}</td>
                        <td style="font-weight: bold;">{{ task.task }}</td>
                        <td style="font-weight: bold;">{{ task.spentinhrs }}</td>
                        <td style="font-weight: bold;">{{ task.spentinmin }}</td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color:white; font-weight:bold">
                        <td>Total Count: {{task_count}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-header text-center text-white bg-primary">
                Documents
            </div>
            <div>
                <table class="table-hover table-bordered table-sm small table">
                    <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                    <thead class="text-center text-white" style="background-color:green">
                        <tr>
                            <th style=" width:5%;">Document Date</th>
                            <th style="width:5%;">Prepared By</th>
                            <th style="width:10%;">Activity</th>
                            <th style="width:10%;">Description</th>
                        </tr>
                    </thead>
                    {% for docs in docs %}
                    <tr>
                        <td style="font-weight: bold;">{{ docs.DocDate | date:'m/d/Y' }} </td>
                        <td style="font-weight: bold;">{{ docs.Task_Detail.lawyer.access_code }}</td>
                        <td style="font-weight: bold;">{{ docs.Task_Detail.task }}</td>
                        <td style="font-weight: bold;">{{ docs.Description }}</td>
                    </tr>
                    {% endfor %}
                    <tr style="background-color:white ;font-weight:bold">
                        <td>Total Count:{{docs_count}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-header text-center text-white bg-primary">
                Applicant/Registrant/Assignee/Inventory
            </div>
            <div>
                <table class="table-hover table-bordered table-sm small table">
                    <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                    <thead class="text-center text-white" style="background-color:green;">
                        <tr>
                            <th style="width:5%;">Applicant</th>
                            <th style="width:5%;">Title</th>
                            <th style="width:10%;">Address</th>
                            <th style="width:10%;">E-Mail</th>
                        </tr>
                    </thead>
                    {% for applicant in applicant %}
                    <tr>
                        <td style="font-weight: bold;">{{ applicant.applicant }} </td>
                        <td style="font-weight: bold;">{{ applicant.title }}</td>
                        <td style="font-weight: bold;">{{ applicant.address }}</td>
                        <td style="font-weight: bold;">{{ applicant.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}