{% extends 'base/managementmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">
    <div class="row my-1 mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    Current Month (New Clients)
                </div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green ;">
                        <tr>
                            <th style="width:25%;">Client</th>
                            <th style="width:10%;">Date Acquired</th>
                            <th style="width:15%;">Email</th>
                            <th style="width:15%;">Mobile</th>
                            <th style="width:20%;"">Contact</th>
                            <th style=" width:15%;">Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td style="font-weight: bold;"><a href="{% url 'management-clientview' client.id %}">
                                    {{client.client_name }}</a></td>
                            <td style="font-weight: bold;">{{ client.date_acquired | date:'m/d/Y' }}</td>
                            <td style="font-weight: bold;">{{ client.email }}</td>
                            <td style="font-weight: bold;">{{ client.mobile }}</td>
                            <td style="font-weight: bold;">{{ client.main_contact }}</td>
                            <td style="font-weight: bold;">{{ client.country.country }}</td>
                        </tr>
                        {% endfor %}
                        <tr style="font-weight: bold;">
                            <td> Total Clients : {{ clientcount }}</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="row my-1 mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    Previous Month (New Clients)
                </div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green ;">
                        <tr>
                            <th style="width:25%;">Client</th>
                            <th style="width:10%;">Date Acquired</th>
                            <th style="width:15%;">Email</th>
                            <th style="width:15%;">Mobile</th>
                            <th style="width:20%;"">Contact</th>
                            <th style=" width:15%;">Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prevclient in prevclients %}
                        <tr>
                            <td style="font-weight: bold;"> <a href="{% url 'management-clientview' prevclient.id %}">
                                    {{ prevclient.client_name }}</a></td>
                            <td style="font-weight: bold;">{{ prevclient.date_acquired | date:'m/d/Y'}}</td>
                            <td style="font-weight: bold;">{{ prevclient.email }}</td>
                            <td style="font-weight: bold;">{{ prevclient.mobile }}</td>
                            <td style="font-weight: bold;">{{ prevclient.main_contact }}</td>
                            <td style="font-weight: bold;">{{ prevclient.country.country }}</td>
                        </tr>
                        {% endfor %}
                        <tr style="font-weight: bold;">
                            <td> Total Clients : {{ prevclientcount }}</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>
{% endblock %}