{% extends 'base/sysadminmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}

{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">
    {% include 'base/clientinfoheader.html' %}
    <div class="d-flex justify-content-between mt-1">
        <a href="{% url 'newawaiting_docs' client.id %}" class="btn btn-outline-primary btn-sm"><i
                class="fas fa-plus"></i>&nbsp;&nbsp; Add Awaiting Doc
            Instrution</a>
    </div>

    <!-- input search + buttons search and reset -->
    <!-- Table -->
    <h6 class="card-title bg-primary text-white text-center mt-2">Awaiting Documents</h6>
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="table-primary text-center">
            <tr>
                <th style="width:10%;">Tran Date</th>
                <th style="width:33%;">Matter</th>
                <th style="width:10%;">Awaiting Date</th>
                <th style="width:10%;">Lawyer</th>
                <th style="width:33%;">Particulars</th>
                <th style="width:4%;">Status</th>
            </tr>
        </thead>
        {% for docs in awaitingdocs %}
        <tr>
            <td style="font-weight: bold;"><a href="{% url 'awaitingdoc_view' docs.id %}">{{docs.tran_date}}</a></td>

            <td style="font-weight: bold;">{{ docs.matter }}</td>
            <td style="font-weight: bold;text-align: center;">{{ docs.awaiting_date | date:'m/d/Y'}}</td>
            <td style="font-weight: bold;text-align: center;">{{ docs.lawyer }}</td>
            <td style="font-weight: bold;">{{ docs.particulars }}</td>
            <td style="font-weight: bold;text-align: center;">{{ docs.status }}</td>

        </tr>
        {% endfor %}
    </table>
    <!-- Pagination-->
</div>
{% endblock %}