{% extends 'base/sysadminmenu.html' %}
{% block title %} Country Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        {% include 'base/referencenavbar.html' %}
        <!-- <div class="card-body"> -->
        <div class="card text-white">
            <div class="row mt-2">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Nature</span>
                                {{form.nature}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a class='btn btn-success btn-sm mb-1' href="{% url 'admin-matter-list' %}">Return</a>
                            <input class='btn btn-success btn-sm mb-1' type="submit" value="Save Record">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table-hover table-bordered table-sm mt-1" style="font-size:  14px;">
            <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="table-primary text-center">
                <tr">
                    <th>Nature</th>
                    </tr>
            </thead>
            {% for nature in nature %}
            <tr>
                <td style="font-weight: bold;"><a href="{% url 'admin-edit-nature' nature.id %}">{{ nature.nature }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <!-- </div> -->
    </div>

</div>
{% endblock %}