{% extends 'base/sysadminmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div class="container">
    {% include 'base/adminappsnavbar.html' %}
    <!-- Table -->
    <div class="card-header text-center text-white bg-primary"> {{group}}</div>
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="text-white text-center" style="background-color:green ;">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Access Code</th>
                <th scope="col">Mobile</th>
                <th scope="col">Address</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td style="font-weight: bold;"><a href="{% url 'admin-lawyer-edit' user.id %}">
                    {{ user.userid.username }}</a></td>
            <td style="font-weight: bold;">{{ user.access_code }}</td>
            <td style="font-weight: bold;">{{ user.mobile }}</td>
            <td style="font-weight: bold;">{{ user.address }}</td>
            <td style="font-weight: bold;">{{ user.remarks }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td style="font-weight:bold ;">Total count: {{noofusers}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <!-- Pagination-->
    <nav class="mt-1">
        {% if clients.has_other_pages %}
        <ul class="pagination justify-center-left">
            {% if clients.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary mb-4"
                style="width: 60px; border-radius: 1px; border: 1px solid #d1d1d1;">First</a>
            <li class="page-item"><a class="page-link" href="?page={{ clients.previous_page_number }}"><i
                        class="fas fa-angle-double-left"></i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

            {% for i in clients.paginator.page_range %}
            {% if clients.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if clients.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ clients.next_page_number }}"><i
                        class="fas fa-angle-double-right"></i></a></li>
            <a href="?page={{ clients.paginator.num_pages}}" class="btn btn-outline-primary mb-4"
                style="width: 60px; border-radius: 1px; border: 1px solid #d1d1d1; border-left: none;">Last</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}