{% extends 'base/main.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'base/adminnavbar.html' %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Delete Matter</h3>
                <hr>
                <div class='alert alert-danger'>
                    <h4>Are you sure you want to delete the matter?</h4>
                    <b>{{ matter.matter_title }}</b>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <a class= 'btn btn-secondary' href="{% url 'admin-matter-list' %}">Cancel</a>
                    <input class='btn btn-danger' type="submit" value="Confirm">
                </form>
            </div>

        </div> 
    </div>
</div>
{% endblock %}