{% extends 'base/sysadminmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/adminappsnavbar.html' %}

    <div class="card">
        <!-- <div class="card-body"> -->
        <div class="card text-white mt-2">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold"> Client</span>
                                {{form.client_name}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold">Address</span>
                                {{form.address}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">City</span>
                                {{form.city}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">State</span>
                                {{form.state}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Country</span>
                                {{form.country}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">E-mail</span>
                                {{form.email}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Mobile</span>
                                {{form.mobile}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold">Contact
                                    Person</span>
                                {{form.main_contact}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Date
                                    Acquired</span>
                                {{form.date_acquired}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold">Category</span>
                                {{form.category}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Entity
                                    Type</span>
                                {{form.entity_type}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Industry</span>
                                {{form.industry}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Refered By</span>
                                {{form.referredby}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;font-weight: bold">Status</span>
                                {{form.status}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold">Remarks</span>
                                {{form.remarks}}
                            </div>

                        </div>
                    </div>
                    <div>
                        <a class='btn btn-outline-primary btn-sm mb-3 mt-2'
                            href="{% url 'admin-matter-list' %}">Return</a>
                        <input class='btn btn-outline-primary btn-sm mb-3 mt-2' type="submit" value="Save Record">
                    </div>
                </form>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

{% endblock content%}