{% extends 'base/main.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'base/adminnavbar.html' %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>New Activity</h3>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class= 'btn btn-secondary' href="{% url 'admin-matter-list' %}">Cancel</a>
                    <input class='btn btn-danger' type="submit" value="Save Activity">
                </form>
            </div>

        </div> 
    </div>
</div>

{% endblock%}