{% extends 'base/sysadminmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/caseinfoheader.html' %}
    <div class="card">
        <!-- <div class="card-body"> -->
        <div class="card text-white">
            <div class="row mt-2">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;"> Client</span>
                                <input type="text" name="matter" value="{{client.client_name}}" class="form-control"
                                    readonly>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;"> Matter</span>
                                <input type="text" name="matter"
                                    value="{{matter.matter_title}} - {{matter.referenceno}}" class="form-control"
                                    readonly>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Date
                                    Receipt</span>
                                {{form.tran_date}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Doc Date</span>
                                {{form.doc_date}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Mail Type</span>
                                {{form.mail_type}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Activity Codes</span>
                                <select name="task_code" class="form-select form-control">
                                    <option selected></option>
                                    {% for code in codes %}
                                    <option value="{{code.id}}">
                                        {{ code.Activity }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Compute
                                    Due</span>
                                {{form.duecode}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text"
                                    style="width: 110px; font-weight: bold;">Particulars</span>
                                {{form.task}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Contact
                                    Person</span>
                                {{form.contact_person}}
                            </div>
                        </div>
                    </div>
                    <a class='btn btn-outline-primary btn-sm mb-3 mt-2' href="#">Return</a>
                    <input class='btn btn-outline-primary btn-sm mb-3 mt-2' type="submit" value="Save Record">
                </form>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="table-primary text-center">
            <tr>
                <th style="width:10%;">Date Receipt</th>
                <th style="width:10%;">Doc Date</th>
                <th style="width:10%;">Lawyer</th>
                <th style="width:20%;">Client</th>
                <th style="width:20%;">Matter</th>
                <th style="width:25%;">Activity</th>
                <th style="width:5%;">Action</th>
            </tr>
        </thead>
        {% for task in tasks %}
        <tr>
            <td style="font-weight: bold;">{{ task.tran_date | date:'m/d/Y' }}</td>
            <td style="font-weight: bold;">{{ task.doc_date | date:'m/d/Y' }}</td>
            <td style="font-weight: bold;">{{ task.matter.handling_lawyer.access_code }}</td>
            <td style="font-weight: bold;">{{ task.matter.folder.client.client_name }}</td>
            <td style="font-weight: bold;">{{ task.matter.matter_title }}</td>
            <td style="font-weight: bold;">{{ task.task }}</td>
            <td>
                <!-- <a class="btn btn-primary btn-sm" href="{% url 'associate-matter-review' matter.id %}" title="Edit Matter"> -->
                <a class="btn btn-primary btn-sm" href="#" title="Open Matter">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
            <!-- <td>
                       <a class="btn btn-info btn-sm btn-icon-split" href="#" title="Delete Matter">
                           <span class="icon text-white-20">
                               <i class="fas fa-trash"></i>
                           </span>                         
                       </a>
                    </td> -->
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock content%}