{% extends 'base/main.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'base/adminnavbar.html' %}
<div class="row mt-1">
    <div class="col-md-4">
        <div class="border bg-white p-3">
            <h3>Document Image </h3>
            <a class= 'btn btn-secondary' href="{% url 'admin-matter-list' %}">Return</a>
            <a class= 'btn btn-secondary' href="#">Print</a>
            <a class= 'btn btn-secondary' href="#">View Matters</a>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>

    </div> 
</div>
{% endblock %}