{% extends 'base/supportstaffmenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}
{% block content %}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <!-- <div class="container-fluid"> -->
        <div class="container">
            {% include 'base/supportstaffnavbar.html' %}
            <!-- To put table content -->
            {% if messages %}
            <div class="row">
                <!-- <div class="col"> -->
                <div class="card-header text-center text-white bg-primary">Unread Messages</div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green;">
                        <tr>
                            <th style="width:10%;">Date</th>
                            <th style="width:10%;">From</th>
                            <th style="width:20%;">Subject</th>
                            <th style="width:55%;">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for msg in messages %}
                        <tr>
                            <td style="font-weight: bold; text-align: center;"><a
                                    href="{% url 'supportstaff-open_inboxmessage' msg.id %}">
                                    {{ msg.messagedate | date:'m/d/Y' }}</a></td>
                            <td style="font-weight: bold;">{{ msg.messagefrom }}</td>
                            <td style="font-weight: bold;">{{ msg.subject }}</td>
                            <td style="font-weight: bold;">{{ msg.messagebox }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="font-weight:bold ;">Total count: {{messages_count}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
            {% endif %}
            <div class="row">
                <div class="card-header text-center text-white bg-primary">New Matters<a
                        href="{% url 'report-createpdf-newmatter' %}" class="btn btn-primary btn-sm"><i
                            class="fa fa-file-text"></i>&nbsp;&nbsp;Print</a></div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green ;">
                        <tr>
                            <th style="width:10%;">Date Created</th>
                            <th style="width:10%;">Lawyer</th>
                            <th style="width:30%;">Matter Title</th>
                            <th style="width:40%;">Type</th>
                            <th style="width:10%;">Application</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for newmatter in recentmatters %}
                        <tr>
                            <td style="font-weight: bold; text-align: center;"><a
                                    href="{% url 'supportstaff-matter_review' newmatter.id %}">
                                    {{ newmatter.created_at | date:'m/d/Y' }}</a></td>
                            <td style="font-weight: bold;">{{ newmatter.handling_lawyer.access_code }}</td>
                            <td style="font-weight: bold;">{{ newmatter.matter_title }}</td>
                            <td style="font-weight: bold;">{{ newmatter.case_type }}</td>
                            <td style="font-weight: bold;">{{ newmatter.apptype }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="font-weight:bold ;">Total count :{{recentmatters_count}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="card-header text-center text-white bg-primary">Upcoming Due Dates <a
                        href="{% url 'report-createpdf-duedatelist' %}" class="btn btn-primary btn-sm"><i
                            class="fa fa-file-text"></i>&nbsp;&nbsp;Print</a></div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green ;">
                        <tr>
                            <th style="width:10%;">Due Date</th>
                            <th style="width:30%;">Matter Title</th>
                            <th style="width:10%;">Lawyer</th>
                            <th style="width:40%;">Partculars</th>
                            <th style="width:10%;">Date Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dues in duedates %}
                        <tr>
                            <td style="font-weight: bold; text-align: center;"><a
                                    href="{% url 'superstaff-duedate-review' dues.id %}">
                                    {{ dues.duedate | date:'m/d/Y' }}</a></td>
                            <td style="font-weight: bold;">{{ dues.matter.matter_title }}</td>
                            <td style="font-weight: bold;">{{ dues.matter.handling_lawyer.access_code }}</td>
                            <td style="font-weight: bold;">{{ dues.particulars }}</td>
                            <td style="font-weight: bold;text-align: center;">{{ dues.date_updated | date:'m/d/Y' }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="font-weight:bold ;">Total count :{{duedates_count}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="card-header text-center text-white bg-primary">Recent Activities <a href="#"
                        class="btn btn-primary btn-sm"><i class="fa fa-file-text"></i>&nbsp;&nbsp;Print</a>
                </div>

                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-white text-center" style="background-color:green ;">
                        <tr>
                            <th style="width:10%;">Date</th>
                            <th style="width:35%;">Matter Title</th>
                            <th style="width:10%;">Lawyer</th>
                            <th style="width:10%;">Prepared By</th>
                            <th style="width:35%;">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in recenttask %}
                        <tr>
                            <td style="font-weight: bold; text-align: center;"><a
                                    href="{% url 'superstaff-activity-review' task.id %}">
                                    {{ task.tran_date | date:'m/d/Y' }}</a></td>
                            <td style="font-weight: bold;">{{ task.matter.matter_title }}</td>
                            <td style="font-weight: bold;">{{ task.lawyer.access_code }}</td>
                            <td style="font-weight: bold;">{{ task.preparedby.access_code }}</td>
                            <td style="font-weight: bold;">{{ task.task }}</td>
                        </tr>

                        {% endfor %}
                        <tr>
                            <td style="font-weight:bold;">Total count : {{recenttask_count}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="card-header text-center text-white bg-primary"> Recent Uploaded Documents </div>
                <table class="table-hover table-bordered table-sm small table">
                    <thead class="text-center text-white" style="background-color:green ;">
                        <tr>
                            <th style="width:10%;">Doc Date</th>
                            <th style="width:65%;">Activity</th>
                            <th style="width:20%;">Description</th>
                            <th style="width:5%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for docs in recentdocs %}
                        <tr>
                            <td style="font-weight: bold;">{{ docs.DocDate | date:'m/d/Y' }}</td>
                            <td style="font-weight: bold;">{{ docs.Task_Detail }}</td>
                            <td style="font-weight: bold;">{{ docs.description }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="#" title="Open Document">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}