{% extends 'base/supportstaffmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/caseinfoheader.html' %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;"> Case Folder</span>
                                <input type="text" name="matter" value="{{matter}}" class="form-control" readonly>
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Mail Type</span>
                                {{form.mail_type}}
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Date
                                    Receipt</span>
                                {{form.tran_date}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Task Code</span>
                                {{form.task_code}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Doc Date</span>
                                {{form.doc_date}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Mailing
                                    Date</span>
                                {{form.mailing_date}}
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">IPO
                                    Examiner</span>
                                {{form.examiner}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Compute
                                    Due</span>
                                {{form.duecode}}
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text"
                                    style="width: 110px; font-weight: bold;">Particulars</span>
                                {{form.task}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px; font-weight: bold;">Contact
                                    Person</span>
                                {{form.contact_person}}
                            </div>
                        </div>

                    </div>
                    <div>
                        <a class='btn btn-outline-primary btn-sm mb-3 mt-2'
                            href="{% url 'supportstaff-mails_inward' %}">Return</a>
                        <input class='btn btn-outline-primary btn-sm mb-3 mt-2' type="submit" value="Save Record">
                    </div>
                </form>
            </div>
        </div>
        <h6 class="card-title bg-primary text-white text-center">Attached Documents</h6>
        <table class="table-hover table-bordered table-sm small table">
            <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="table-primary text-center">
                <tr>
                    <th style="width:10%;">Document Date</th>
                    <th style="width:80%;">File</th>
                    <th colspan="1" style="width:10%;"><a href="{% url 'associate-newdocs' pk matter.id 1 %}"><i
                                class="fas fa-plus text-center"></i>&nbsp; Document </a></th>
                </tr>
            </thead>
            {% for doc in docs %}
            <tr>
                <td style="font-weight: bold;">{{ doc.DocDate | date:'m/d/Y' }}</td>
                <td style="font-weight: bold;">{{ doc.DocsPDF }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'recent-tasks-docs-review' doc.id 1 %}"
                        title="Open Document">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h6 class="card-title bg-primary text-white text-center">Due Dates</h6>
        <table class="table-hover table-bordered table-sm small table">
            <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="table-primary text-center">
                <tr>
                    <th style="width:10%;">Due Date</th>
                    <th style="width:80%;">Particulars</th>
                    <th style="width:10%;">Date Complied</th>
                </tr>
            </thead>
            {% for duedate in duedates %}
            <tr>
                <td style="font-weight: bold;">{{ duedate.duedate | date:'m/d/Y' }}</td>
                <td style="font-weight: bold;">{{ duedate.particulars }}</td>
                <td style="font-weight: bold;">{{ duedate.date_complied | date:'m/d/Y' }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock content%}