{% extends 'base/supportstaffmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}


<div class="container">
    <div class="card">
        <div class="card-body">
            {% include 'base/clientinfoheader.html' %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light small">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Matter</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="{% url 'supportstaff-matter-otherdetails' m_id matter.filed_at %}">Other
                                    Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'supportstaff-add_mail' m_id %}">Incoming
                                    Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'supportstaff-add_new_task' m_id %}">Outgoing
                                    Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Image
                                    Profile</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Awaiting Documents</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="card text-white">
                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form | crispy }} -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;"> Case Folder</span>
                                    <input type="text" name="folder" value="{{matter.folder.folder_description}}"
                                        class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;">Lawyer</span>
                                    <input type="text" name="handling_lawyer" value="{{matter.handling_lawyer}}"
                                        class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;">Appearance</span>
                                    <input type="text" name="appearance" value="{{matter.appearance}}"
                                        class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;">Type Of Case</span>
                                    <input type="text" name="case_type" value="{{matter.case_type}}"
                                        class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;">Type Of Appln</span>
                                    <input type="text" name="apptype" value="{{matter.apptype}}" class="form-control"
                                        readonly>
                                </div>

                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;">Nature</span>
                                    <input type=text name="nature" value="{{matter.nature}}" class="form-control"
                                        readonly>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;">Matter Title</span>
                                    <input type="text" name="matter_title" value="{{matter.matter_title}}"
                                        class="form-control" readonly>
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px;font-weight:bold;">Remarks</span>
                                    {{form.remarks}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;font-weight:bold;">Client
                                            Ref#</span>
                                        {{form.clientrefno}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;font-weight:bold;">Our
                                            Ref#</span>
                                        {{form.matterno}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text"
                                            style="width: 110px;font-weight:bold;">Status</span>
                                        {{form.status}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;font-weight:bold;">Reference
                                            No.</span>
                                        {{form.referenceno}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;font-weight:bold;">Date
                                            Filed</span>
                                        {{form.filing_date}}
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <span class="input-group-text" style="width: 110px;font-weight:bold;">Filed
                                            At</span>
                                        {{form.filed_at}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'supportstaff-matterlist' %}"
                            class="btn btn-outline-primary btn-sm mb-3">Return</a>
                        <input class="btn btn-outline-primary btn-sm mb-3" type="submit" value="Save Changes">
                        <a class='btn btn-outline-primary btn-sm mb-3' href="#"> <i
                                class="fas fa-plus text-center"></i>&nbsp;Due Date</a>
                        <a class='btn btn-outline-primary btn-sm mb-3' href="#"> <i
                                class="fas fa-plus text-center"></i>&nbsp;Expenses/OPE</a>

                    </form>
                </div>
                <!----------------- Infocard for the activity of the selected matter ---------->
                <div class="card-header text-white text-center bg-primary">Activities - Incoming/Outgoing</div>
                <div>
                    <table class="table-hover table-bordered table-sm small table">
                        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Date</th>
                                <th style="width:15%;">Lawyer</th>
                                <th style="width:10%;">Doc Type</th>
                                <th style="width:10%;">Tran Type</th>
                                <th style="width:55%;">Activity</th>
                            </tr>
                        </thead>
                        {% for task in tasks %}
                        <tr>
                            <td style="font-weight: bold;"><a href="{% url 'superstaff-activity-review' task.id %}">
                                    {{ task.tran_date | date:'m/d/Y' }}</a></td>
                            <td style="font-weight: bold;">{{ task.lawyer.access_code }}</td>
                            <td style="font-weight: bold;">{{ task.doc_type }}</td>
                            <td style="font-weight: bold;">{{ task.tran_type }}</td>
                            <td style="font-weight: bold;">{{ task.task }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!----------------- Infocard for the duedates of the selected matter ---------->
                <div class="card-header text-center text-white bg-primary">Due Dates</div>
                <div>
                    <table class="table-hover table-bordered table-sm small table">
                        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Due Date</th>
                                <th style="width:80%;">Particulars</th>
                                <th style="width:10%;">Date Complied</th>
                            </tr>
                        </thead>
                        {% for duedate in duedatelist %}
                        <tr>
                            <td style="font-weight: bold;">{{ duedate.duedate | date:'m/d/Y' }}</td>
                            <td style="font-weight: bold;">{{ duedate.particulars }}</td>
                            <td style="font-weight: bold;">{{ duedate.date_complied | date:'m/d/Y' }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="card-header text-center text-white bg-primary">Billable Activities</div>
                <div>
                    <table class="table-hover table-bordered table-sm small table">
                        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Tran Date</th>
                                <th style="width:80%;">Bill Service</th>
                                <th style="width:10%;">Amount</th>
                            </tr>
                        </thead>
                        {% for tempbills in tempbills %}
                        <tr>
                            <td style="font-weight: bold;">{{ tempbills.tran_date | date:'m/d/Y' }}</td>
                            <td style="font-weight: bold;">{{ tempbills.bill_service }}</td>
                            <td style="font-weight: bold; text-align: right;">{{ tempbills.amount }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="card-header text-center text-white bg-primary">Billable Filing Fees</div>
                <div>
                    <table class="table-hover table-bordered table-sm small table">
                        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Tran Date</th>
                                <th style="width:80%;">Filing Description</th>
                                <th style="width:10%;">Fees</th>
                            </tr>
                        </thead>
                        {% for tempfilings in tempfilings %}
                        <tr>
                            <td style="font-weight: bold;">{{ tempfilings.tran_date | date:'m/d/Y' }}
                            </td>
                            <td style="font-weight: bold;">{{ tempfilings.filing }}</td>
                            <td style="font-weight: bold; text-align: right;">{{ tempfilings.expense_actual_amt }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="card-header text-center text-white bg-primary">Operating Expenses/OPE</div>
                <div>
                    <table class="table-hover table-bordered table-sm small table">
                        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Tran Date</th>
                                <th style="width:80%;">Expense Detail</th>
                                <th style="width:10%;">Fees</th>
                            </tr>
                        </thead>
                        {% for expenses in expenses %}
                        <tr>
                            <td style="font-weight: bold;">{{ expenses.tran_date | date:'m/d/Y' }}
                            </td>
                            <td style="font-weight: bold;">{{ expenses.expense_detail }}</td>
                            <td style="font-weight: bold; text-align: right;">{{ expenses.expense_actual_amt }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    </div>

    {% endblock content%}