{% extends 'base/supportstaffmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/caseinfoheader.html' %}
    <div class="card">
        <div class="card-header text-center text-white bg-primary">Documents</div>
        <table class="table-hover table-bordered table-sm small table mt-1" style="font-size:  14px;">
            <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="text-center text-white" style="background-color:green ;">
                <tr>
                    <th style="width:10%;">Document Date</th>
                    <th style="width:30%;">Description</th>
                    <th style="width:50%;">File</th>
                    <th colspan="3" style="width:10%;"><a
                            href="{% url 'superstaff-recent_adddocument' task.id matter.id %}"><i
                                class="fas fa-plus text-center"></i>&nbsp; Add Document </a></th>

                </tr>
            </thead>
            {% for doc in docs %}
            <tr>
                <td style="font-weight: bold;">{{ doc.DocDate | date:'m/d/Y' }}</td>
                <td style="font-weight: bold;">{{ doc.Description}}</td>
                <td style="font-weight: bold;"><a href="#">
                        {{ doc.DocsPDF }}</a></td>
                {% if doc.id is notnull %}
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'recent-tasks-docs-review' doc.id %}"
                        title="Edit Document">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <div class="card-header bg-primary text-white text-center">Due Dates</div>
        <table class="table-hover table-bordered table-sm small table" style="font-size:  14px;">
            <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="text-center text-white" style="background-color:green ;">
                <tr>
                    <th style="width:10%;">Due Date</th>
                    <th style="width:5%;">Assign To</th>
                    <th style="width:80%;">Particulars</th>
                    <th style="width:5%;">Date Complied</th>
                </tr>
            </thead>
            {% for duedate in duedates %}
            <tr>
                <td style="font-weight: bold;">{{ duedate.duedate | date:'m/d/Y' }}</td>
                <td style="font-weight: bold;">{{ duedate.assignto }}</td>
                <td style="font-weight: bold;">{{ duedate.particulars }}</td>
                <td style="font-weight: bold;">{{ duedate.date_complied | date:'m/d/Y'}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock content%}