{% extends 'base/associatemenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/caseinfoheader.html' %}
    <div class="card">
        <div class="card-header text-white text-center bg-primary">Classification Of Goods</div>
        <table class="table-hover table-bordered table-sm small table mt-2">
            <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
            <thead class="table-primary text-center">
                <tr>
                    <th style="width:10%;">Nice Class</th>
                    <th style="width:80%;">Description</th>
                    <th colspan="2" style="width:10%;">Action</th>
                </tr>
            </thead>
            {% for goods in listofgoods %}
            <tr>
                <td style="font-weight: bold;">{{ goods.classes }}</td>
                <td style="font-weight: bold;">{{ goods.Goods_Descriptions }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'admin-edit-classofgood' matter.id goods.id %}"
                        title="Edit Classification Of Goods">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm btn-icon-split" href="#" title="Delete Matter">
                        <span class="icon text-white-20">
                            <i class="fas fa-trash"></i>
                        </span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content%}