{% extends 'base/associatemenu.html' %}
{% block title %} Matters {% endblock %}
{% load crispy_forms_tags %}
{% block appname %}
    Dashboard
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3 bg-gradient-primary text-white">
                <h3>New Due Date</h3>
                <hr>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <a class= 'btn btn-success' href="#">Return</a>
                    <input class='btn btn-success' type="submit" value="Save Folder">

                </form>
            </div>
        </div> 
    </div>
</div>
{% endblock %}

