<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- <div class="container-fluid"> -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-header text-center text-white bg-primary mt-3">Recent Due Dates</div>
                    <table class="table-hover table-bordered table-sm small table">
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Due Date</th>
                                <th style="width:30%;">Client</th>
                                <th style="width:30%;">Matter Title</th>
                                <th style="width:30%;">Particulars</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for duedates in duedates %}
                            <tr>
                                <td style="font-weight: bold;text-align: center;">
                                    {{ duedates.duedate | date:'m/d/Y' }}</td>
                                <td style="font-weight: bold;">{{ duedates.matter.folder.client.client_name }}</td>
                                <td style="font-weight: bold;">{{ duedates.matter.matter_title }}</td>
                                <td style="font-weight: bold;">{{ duedates.particulars }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row my-1">
                <div class="col">
                    <div class="card-header bg-primary text-center text-white mt-3">Recent Activities</div>
                    <table class="table-hover table-bordered table-sm small table">
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Date</th>
                                <th style="width:30%;">Client</th>
                                <th style="width:30%;">Matter Title</th>
                                <th style="width:30%;">Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recenttask in recenttask %}
                            <tr>
                                <td style="font-weight: bold;text-align: center;">
                                    {{ recenttask.tran_date | date:'m/d/Y'}}</td>
                                <td style="font-weight: bold;">{{ recenttask.matter.folder.client.client_name }}
                                </td>
                                <td style="font-weight: bold;">{{ recenttask.matter.matter_title }}</td>
                                <td style="font-weight: bold;">{{ recenttask.task }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row my-1">
                <div class="col">
                    <div class="card-header bg-primary text-center text-white">Recent New Matters</div>
                    <table class="table-hover table-bordered table-sm small table">
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:30%;">Matter Title</th>
                                <th style="width:15%;">Reference No.</th>
                                <th style="width:10%;">Filing Date</th>
                                <th style="width:20%;">Handling Lawyer</th>
                                <th style="width:25%;">Case Folder</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for matter in matterlist %}
                            <tr>
                                <td style="font-weight: bold;"> {{ matter.matter_title }}</td>
                                <td style="font-weight: bold;">{{ matter.referenceno }}</td>
                                <td style="font-weight: bold;">{{ matter.filing_date | date:'m/d/Y' }}</td>
                                <td style="font-weight: bold;text-align: center;">
                                    {{ matter.handling_lawyer.access_code }}</td>
                                <td style="font-weight: bold;">{{ matter.folder }}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row my-1">
                <div class="col">
                    <div class="card-header bg-primary text-center text-white">Recent Billable Activities</div>
                    <table class="table-hover table-bordered table-sm small table">
                        <thead class="text-center text-white" style="background-color:green ;">
                            <tr>
                                <th style="width:10%;">Date</th>
                                <th style="width:20%;">Matter</th>
                                <th style="width:10%;">Lawyer</th>
                                <th style="width:30%;">Particulars</th>
                                <th style="width:5%;">Spent In Hrs</th>
                                <th style="width:5%;">Spent In Min</th>
                                <th style="width:5%;">Currency</th>
                                <th style="width:10%;">Amount</th>
                                <th style="width:10%;">Peso Amount</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for bills in recent_billables %}
                            <tr>
                                <td style="font-weight: bold;">{{ bills.tran_date | date:'m/d/Y' }}</td>
                                <td style="font-weight: bold;">{{ bills.matter.matter_title }}</td>
                                <td style="font-weight: bold;">{{ bills.lawyer.access_code }}</td>
                                <td style="font-weight: bold;">{{ bills.particulars }}</td>
                                <td style="font-weight: bold;">{{ bills.spentinhrs }}</td>
                                <td style="font-weight: bold;">{{ bills.spentinmin }}</td>
                                <td style="font-weight: bold;">{{ bills.currency }}</td>
                                <td style="font-weight: bold;">{{ bills.amount }}</td>
                                <td style="font-weight: bold;">{{ bills.pesoamount }}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>

            <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>