{% extends 'base/associatemenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    <div class="card-header text-white text-center bg-primary mt-1">Messages</div>
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="text-center text-white" style="background-color:green ;">
            <tr>
                <th style="width:10%;">Message Date</th>
                <th style="width:15%;">Sender</th>
                <th style="width:20%;">Subject</th>
                <th style="width:55%;">Message</th>
            </tr>
        </thead>
        {% for message in alertmessages %}
        <tr>
            <td style="font-weight: bold;"><a href="{% url 'associate-edit_alertmessage' message.id %}">
                    {{message.messagedate | date:'m/d/Y'}}</a></td>
            <td style="font-weight: bold;">{{ message.messagefrom }}</td>
            <td style="font-weight: bold;">{{ message.subject }}</td>
            <td style="font-weight: bold;">{{ message.messagebox }}</td>
        </tr>
        {% endfor %}
    </table>


</div>

{% endblock content%}