<div class="container">
    <div class="card-header text-center text-white bg-primary">List Of Matters</div>
    <!-- Table -->
    <table class="table-hover table-bordered table-sm small table">
        <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
        <thead class="text-center text-white" style="background-color:green ;">
            <tr>
                <th style="width:45%;">Matter Title</th>
                <th style="width:15%;">Reference No.</th>
                <th style="width:10%;">Filing Date</th>
                <th style="width:10%;">Lawyer</th>
                <th style="width:20%;">Case Type</th>
            </tr>
        </thead>
        {% for matter in matters %}
        <tr>
            <td style="font-weight: bold;">{{ matter.matter_title }}</td>
            <td style="font-weight: bold;">{{ matter.referenceno }}</td>
            <td style="font-weight: bold;">{{ matter.filing_date | date:'m/d/Y' }}</td>
            <td style="font-weight: bold;">{{ matter.handling_lawyer.access_code }}</td>
            <td style="font-weight: bold;">{{ matter.case_type }}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- Pagination-->
</div>