{{% extends 'base/associatemenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
Dashboard
{% endblock %}

{% block content %}

<div class="container">
    {% include 'base/caseinfoheader.html' %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;"> Matter</span>
                                <input type="text" value="{{matter.matter_title}}" class="form-control" readonly>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Due Date</span>
                                {{form.duedate}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Lawyer</span>{{form.assignto}}
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Particulars</span>
                                {{form.particulars}}
                            </div>

                            <div class="input-group input-group-sm mb-1">
                                <span class="input-group-text" style="width: 110px;">Date Complied</span>
                                {{form.date_complied}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class='btn btn-outline-primary btn-sm mb-1'
                            href="{% url 'associate-matter-review' m_id %}">Return</a>
                        <input class='btn btn-outline-primary btn-sm mb-1' type="submit" value="Save Record">

                    </div>
                </form>
            </div>
            <h6 class="card-title bg-primary text-white text-center">Activities</h6>
            <div>
                <table class="table-hover table-bordered table-sm small table">
                    <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
                    <thead class="table-primary text-center">
                        <tr>
                            <th style="width:10%;">Date</th>
                            <th style="width:15%;">Lawyer</th>
                            <th style="width:10%;">Doc Type</th>
                            <th style="width:10%;">Tran Type</th>
                            <th style="width:45%;">Activity</th>
                            <th colspan="1" style="width:10%;"><a href="{% url 'associate-add_new_task' m_id %}"><i
                                        class="fas fa-plus text-center"></i>&nbsp;Activity</a></th>
                        </tr>
                    </thead>
                    {% for task in tasks %}
                    <tr>
                        <td style="font-weight: bold;" title="Edit Activity">
                            <a href="{% url 'associate-modify_task' task.id m_id %}">
                                {{ task.tran_date | date:'m/d/Y' }}</a>
                        </td>
                        <td style="font-weight: bold;">{{ task.lawyer.access_code }}</td>
                        <td style="font-weight: bold;">{{ task.doc_type }}</td>
                        <td style="font-weight: bold;">{{ task.tran_type }}</td>
                        <td style="font-weight: bold;">{{ task.task }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>

    {% endblock content%}