{% extends 'base/associatemenu.html' %}
{% block title %} Clients {% endblock %}
{% load crispy_forms_tags %}
{% block appname %}
    Dashboard
{% endblock %}
{% block content %}
<div class="container">
    <!-- Create Button & get username -->
    <div class="d-flex justify-content-between mt-2 mb-1">
        <a href="#" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp; Print</a>
        <span>
            Welcome: <strong><span class="text-primary">{{ user.get_username }}</span></strong>
        </span>
    </div>

     <!-- input search + buttons search and reset -->
     <!-- Table -->
     <table class="table-hover table-bordered table-sm small table">
     <!-- <table class="table-hover table-sm table-bordered small table table-dark table-striped">         -->
             <thead class="table-primary text-center">
                 <tr>
                    <th style="width:5%;">Matter ID</th>
                    <th style="width:45%;">Matter Title</th>
                    <th style="width:40%;">Activity</th>
                    <th style="width:5%;"># of Activities</th>
                    <th style="width:5%;">Action</th>
                 </tr>
             </thead>
             {% for matter in result %}
             <tr>
                <td style="font-weight: bold; text-align: center;">{{ matter.matter__id }}</td>
                <td style="font-weight: bold;">{{ matter.matter__matter_title }}</td>
                <td style="font-weight: bold;">{{ matter.task_code__Activity }}</td>
                <td style="font-weight: bold; text-align: center;">{{ matter.NoOfActivities }}</td>
                <td>
                    <a class="btn btn-info btn-sm btn-icon-split" href="#" title="View Client">
                        <span class="icon text-white-20">
                            <i class="fas fa-pen"></i>
                        </span>                         
                    </a>
                </td>
            </tr>
             {% endfor %}
     </table>
     <!-- <a href="#" class="btn btn-outline-primary btn-sm mb-3">Return</a> -->
     <a class="btn btn-outline-primary btn-sm mb-3" href="{% url 'associate-myunbilled-activitydet' %}" >Show Details</a>

</div>

{% endblock %}



