{% extends 'base/sysadminmenu.html' %}
{% block title %} Case Folder Entry Form {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block appname %}
    Dashboard
{% endblock %}

{% block content %}

<div class="container">
    <div class="card text-white bg-success">
        <table class="table table-sm table-borderless small table table-hover my-2 text-white">
                <tbody>
                    <tr>
                        <th scope="row">Client</th>
                        <td>{{ matter.folder.client.client_name}} </td>
                    </tr>
                    <tr>
                        <th scope="row">Folder</th>
                        <td>{{ matter.folder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Matter Title</th>
                        <td>"{{ matter.matter_title }}" &nbsp; lawyer : {{matter.handling_lawyer.lawyer_name}}</td>
                        </tr>
                </tbody>
        </table>
    </div>

    <div class="card">
        <div class="card-body">
        <h5 class="card-title">Attached Document</h5>
            <div class="card text-dark">
                <div class="row mt-2">
                    <form method="POST">
                        {% csrf_token %}
                        <!-- {{ form | crispy }} -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;"> Lawyer </span>
                                    &nbsp;{{lawyer}}
                                </div>

                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;"> Activity</span>
                                    {{form.Task_Detail}}
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Doc Date</span>
                                    {{form.DocDate}}
                                </div>
                                <div class="input-group input-group-sm mb-1">
                                    <span class="input-group-text" style="width: 110px; font-weight: bold;">Document</span>
                                    <div class="text-white">
                                        {{form.DocsPDF}}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class= 'btn btn-primary btn-sm mb-3 mt-2' href="{% url 'associate-home' %}">Return</a>
                        <!-- <input class='btn btn-success btn-sm mb-3 mt-2' type="submit" value="Save Record"> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}


