{% extends 'partials/base.html' %}
{% block title %} Login Page {%  endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h3>Logout Page</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4> You logged out</h4>
                    </div>
                    <a href="{% url 'user-login' %}">Login</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}