{% extends 'base/sysadminmenu.html' %}
{% block title %} Staff Profile {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    User's Detail Page
                </div>
                <div class="row p-3">
                    <div class="col-md-8">
                        <table class="table table-borderless">
                            <thead>
                                <span class="h4 text-dark">Porfile Information </span class="h4">
                                <a class="btn btn-info btn-sm float-right"
                                    href="{% url 'user-update-profile' %}">Edit</a>
                                <hr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">User Name</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Rank</th>
                                    <td>{{ user.user_profile.rank }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phone</th>
                                    <td>{{ user.user_profile.mobile }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Address</th>
                                    <td>{{ user.user_profile.address }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}